<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>
		<!-- Database connection settings -->
		<property name="connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="connection.url">jdbc:mysql://localhost:3306/pms</property>
		<property name="connection.username">root</property>
		<property name="connection.password">tyc1234</property>

		<property name="dialect">org.hibernate.dialect.MySQLDialect</property>

		<!-- <property name="javax.persistence.validation.mode">none</property>
		<property name="show_sql">true</property>
		<property name="current_session_context_class">thread</property>
		<property name="format_sql">true</property> -->
		
		<!-- mapper -->
        <mapping resource="/hbm/password.hbm.xml" />
        <mapping resource="/hbm/Course.hbm.xml" />
        <mapping resource="/hbm/Dictionary.hbm.xml" />
        <mapping resource="/hbm/Practice.hbm.xml" />
        <mapping resource="/hbm/User.hbm.xml" />
	</session-factory>
</hibernate-configuration>
